<div class='entry'>
    <h1>
        Hello, {{username}} has been greeted {{greetedTimes}} time
    </h1>

    <br>

    <div class='buttons'>
        <form action='/greeted' method='GET'>
            <button class='backbtn' type='submit'>Back</button>
        </form>
        <form action='/' method='GET'>
            <button class='backbtn' type='submit'>Home</button>

        </form>
    </div>
    
</div>