body{
    background-color: EA9E8D;
}
h1 {
    text-align: center;
    font-family: cursive;
    padding-top: 20px;
    color: rgb(3, 135, 250);
}
.box{
    display: flex;
    flex-direction: column;
    width: 50%;
    border: rgb(249, 176, 252) solid;
    border-radius: 1%;
    box-shadow: 5px 4px 4px 7px lightblue;
    box-shadow: lightblue;
    margin: auto;
    font-family: cursive;
    height: 75vh;
}
.error{
    font-size: 10px;
    color: rgb(250, 10, 10);
    width: 50%;
    font-size: 25px;
    font-weight: bolder;
    margin-left: 35%;
    text-align: center;
    padding-top: 0%;
}
.naming{
    display: inline-flex;
    color: rgb(3, 4, 5);
    /* height: 5vh; */
    text-align: center;
    padding-left: 35%;
    padding-top: 0%;
}
.radios{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 75%;
    text-align: center;
    color: rgb(18, 30, 41);
    padding-top: 25px;

}
p{
    text-align: center;
    color: rgb(24, 34, 43);
}
h4{
    color: rgb(1, 120, 224);
}
.error{
    padding-top: 0%;
}
.finish{
    padding-top: 2%;
}
.greet{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
    border-radius: 30%;
    text-align: center;
    padding-top: 35px;
}
.reset{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
    border-radius: 30%;
    text-align: center;  
}
.display{
    text-align: center;
    width: 10%;
    display: flex;
    flex-direction: row;
    padding-left: 45%;
    position: relative;
}
.form{
    display: flex;
    flex-direction: column;
}
.greetMeBtn {
    transition-duration: 00.5s;
    background-color: rgb(108, 183, 206);
    color: rgb(24, 20, 20);
    font-size: 15px;
    width: 15%;
    height: 3vh;
    border-radius: 10px;
    /* text-align: center; */
}
.primary-bttn {
    width: 15px;
}
.resetBtn {
    transition-duration: 00.5s;
    background-color: rgb(108, 183, 206);
    color: rgb(24, 20, 20);
    font-size: 15px;
    width: 100%;
    height: 3vh;
    border-radius: 10px;
}
.greetMeBtn span, .resetBtn span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition-duration: 00.5s;
}
.greetMeBtn:hover, .resetBtn:hover{
    background-color: rgb(97, 167, 247);
    color: rgb(247, 8, 227);
    box-shadow: 1 10px 20px 1 rgb(99, 175, 236), 0 8px 30px 0 rgb(110, 169, 247);
}
.greetMeBtn span::after, .resetBtn span::after{
    /* content: '\00bb'; */
    position: absolute;
    opacity: 2;
    top: 0;
    right: 20px;
    transition: 00.5s;
}
.greetMeBtn:hover span::after, .resetBtn:hover span::after{
    opacity: 2;
    right: 0;
}
.red{
    color: red;
}
.counter{
    padding-top: 20px;
    padding-left: 10px;
    color: rgb(3, 76, 139);
}
.greet-reset{
    display: flex;
    flex-direction: row;
}
.button-1{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    justify-content: center;
    /* background-color: darkgoldenrod; */
}
button{
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 10%;
    font-size: 35px;
    

}
form{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.radio-bttn{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* background-color: darkgreen; */
    padding-top: 30px;
    padding-bottom: 20px;
    justify-content: center;
    justify-content: space-around;
}
input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.text-box{
    padding-top: 20px;
}
.last-bttns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 7px;
    padding-top: 25px;
}
.rst{
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 25%;
    font-size: 15px;
}
.greet-1{
    font-size: 40px;
}
.cnt{
    font-size: 15px;
    border-radius: 25px;
    padding-right: 5px;
    padding-left: 5px;
}
.greetBttn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
}
.greeted{
    text-align: center;
}